---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <form
      name="contactx"
      method="POST"
      action="http://localhost:8788/api/contact"
    >
      <input name="name" value="testing 1 post request" />
      <input name="email" value="somthing@some.com" />
      <input type="submit" />
    </form>
    <form
      name="contactx2"
      method="GET"
      action="http://localhost:8788/api/contact"
    >
      <input name="name" value="testing 1 get request" />
      <input name="email" value="somthingelse@some.com" />
      <input type="submit" />
    </form>
  </main>
</Layout>
